.base {
  padding-top: 20px;
  ul > li {
    list-style: none;
  }
}

.base-name {
  color: rgb(21, 117, 191);
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 2px;
  padding-bottom: 2px;
}

.base-image {
  text-align: center;
}