.simple-module {
  .title {
    font-size: 18px;
    font-weight: 700;
    color: #1575bf;
    border-bottom: 4px solid #d2dce4;
  }
  .simple-sub {
    font-size: 16px;
    margin: 5px auto;
    font-weight: 700;
  }
  .simple-html {
    margin-bottom: 10px;
  }
}